<a href="https://colab.research.google.com/github/kathyllin/Python-Pandas/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro exemplo de Manipulação de dados usando Python Pandas**

Autor: Kathyllin Souza

Data: 06 e 07 de fevereiro de 2023

In [29]:
#Importante biblioteca pandas no Python
import pandas as pd

In [30]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [31]:
#usa o print para ver o dataframe! Mas é meio bagunçado
print(combustiveis_df)

       Regiao - Sigla Estado - Sigla  Municipio  \
0                  NE             AL  ARAPIRACA
1                  NE             AL  ARAPIRACA
2                  NE             AL  ARAPIRACA
3                  NE             AL  ARAPIRACA
4                  NE             AL  ARAPIRACA
...               ...            ...        ...
168404             NE             BA     JEQUIE
168405             SE             MG  ITUIUTABA
168406             SE             MG  ITUIUTABA
168407             SE             MG  ITUIUTABA
168408             SE             MG  ITUIUTABA

                                           Revenda      CNPJ da Revenda  \
0                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
1                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
2                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
3                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
4                             POSTO ARAPIRACA LTDA   12.451.076/0004-65
...                                            ...                  ...
168404  COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA   28.629.089/0001-79
168405           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168406           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168407           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38
168408           ABC DISTRIBUICAO DE PETROLEO LTDA   13.117.591/0006-38

                                      Nome da Rua Numero Rua Complemento  \
0                                  RODOVIA AL 220        105       KM 68
1                                  RODOVIA AL 220        105       KM 68
2                                  RODOVIA AL 220        105       KM 68
3                                  RODOVIA AL 220        105       KM 68
4                                  RODOVIA AL 220        105       KM 68
...                                           ...        ...         ...
168404                  AVENIDA T LOT JD TROPICAL         53         NaN
168405  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168406  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168407  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN
168408  AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA       2415         NaN

             Bairro        Cep             Produto Data da Coleta  \
0       CANAFISTULA  57302-605            GASOLINA     2021-11-01
1       CANAFISTULA  57302-605              ETANOL     2021-11-01
2       CANAFISTULA  57302-605              DIESEL     2021-11-01
3       CANAFISTULA  57302-605  GASOLINA ADITIVADA     2021-11-01
4       CANAFISTULA  57302-605          DIESEL S10     2021-11-01
...             ...        ...                 ...            ...
168404     TROPICAL  45209-130              ETANOL     2021-12-31
168405     ALVORADA  38307-113            GASOLINA     2021-12-31
168406     ALVORADA  38307-113              ETANOL     2021-12-31
168407     ALVORADA  38307-113          DIESEL S10     2021-12-31
168408     ALVORADA  38307-113  GASOLINA ADITIVADA     2021-12-31

        Valor de Venda  Valor de Compra Unidade de Medida       Bandeira
0                6.799              NaN        R$ / litro  VIBRA ENERGIA
1                5.299              NaN        R$ / litro  VIBRA ENERGIA
2                5.549              NaN        R$ / litro  VIBRA ENERGIA
3                6.899              NaN        R$ / litro  VIBRA ENERGIA
4                5.649              NaN        R$ / litro  VIBRA ENERGIA
...                ...              ...               ...            ...
168404           5.859              NaN        R$ / litro     PETROSERRA
168405           6.580              NaN        R$ / litro         BRANCA
168406           4.740              NaN        R$ / litro         BRANCA
168407           5.448              NaN        R$ / litro         BRANCA
168408           6.580              NaN        R$ / litro         BRANCA

[168409 rows x 16 columns]

In [32]:
# Display ajusta a visualização dos dados
display(combustiveis_df)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168404,NE,BA,JEQUIE,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,28.629.089/0001-79,AVENIDA T LOT JD TROPICAL,53,NaN,TROPICAL,45209-130,ETANOL,2021-12-31,5.859,NaN,R$ / litro,PETROSERRA
168405,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA,2021-12-31,6.580,NaN,R$ / litro,BRANCA
168406,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,ETANOL,2021-12-31,4.740,NaN,R$ / litro,BRANCA
168407,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,DIESEL S10,2021-12-31,5.448,NaN,R$ / litro,BRANCA
168408,SE,MG,ITUIUTABA,ABC DISTRIBUICAO DE PETROLEO LTDA,13.117.591/0006-38,AVENIDA PROFESSOR JOSE VIEIRA DE MENDONCA,2415,NaN,ALVORADA,38307-113,GASOLINA ADITIVADA,2021-12-31,6.580,NaN,R$ / litro,BRANCA

 NaN significa "Not a Number", poderia ser só um null

In [33]:
# Exibe as primeiras 5 linhas 
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [34]:
# Quero, na verdade, exibir as primeiras 15 linha
display(combustiveis_df.head(15))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA
5,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA,2021-11-01,7.198,NaN,R$ / litro,VIBRA ENERGIA
6,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,ETANOL,2021-11-01,5.982,NaN,R$ / litro,VIBRA ENERGIA
7,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL,2021-11-01,5.974,NaN,R$ / litro,VIBRA ENERGIA
8,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,GASOLINA ADITIVADA,2021-11-01,7.208,NaN,R$ / litro,VIBRA ENERGIA
9,NE,AL,DELMIRO GOUVEIA,AUTO POSTO FREITAS & MAIA LTDA,12.436.978/0001-80,RUA FLORIANO PEIXOTO,247,NaN,CENTRO,57480-000,DIESEL S10,2021-11-01,5.983,NaN,R$ / litro,VIBRA ENERGIA
10,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,GASOLINA,2021-11-01,7.197,NaN,R$ / litro,BRANCA
11,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,ETANOL,2021-11-01,5.987,NaN,R$ / litro,BRANCA
12,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,DIESEL,2021-11-01,5.978,NaN,R$ / litro,BRANCA
13,NE,AL,DELMIRO GOUVEIA,AUTO POSTO DA PEDRA LTDA,05.518.639/0001-87,RUA FLORIANO PEIXOTO,281,NaN,CENTRO,57480-000,DIESEL S10,2021-11-01,5.989,NaN,R$ / litro,BRANCA
14,NE,AL,DELMIRO GOUVEIA,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,04.431.113/0001-00,AVENIDA CAXANGA,126,NaN,PEDRA VELHA,57480-000,GASOLINA,2021-11-01,7.175,NaN,R$ / litro,BRANCA

In [35]:
# Comandos Datadrame.shape e Dataframe.describe()
print(combustiveis_df.shape)
# mostra o numero de linha e colunas

(168409, 16)

o shape você tem como retorno o real valor de linhas e colunas, pode usar isso pra alimentar uma variável por exemplo

In [36]:
#só as linhas
print(combustiveis_df.shape[0]) #podendo ser utilizado como variável

168409

In [37]:
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 20.6+ MB
None

In [38]:
print(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

In [39]:
display(combustiveis_df.shape)

(168409, 16)

In [40]:
display(combustiveis_df.describe())

       Valor de Venda  Valor de Compra
count   168409.000000              0.0
mean         6.005184              NaN
std          0.794541              NaN
min          2.849000              NaN
25%          5.339000              NaN
50%          5.859000              NaN
75%          6.699000              NaN
max          8.990000              NaN

mean = média aritmética

essa única função (describe) mostra 8 dados estatíticos 

é um metodo usado para **resumo estatístico** da distribuição de cada coluna numérica,  incluindo contagem, média, desvio padrão, valor minimo, quartis e valor maximo.
e se tiver colunas não numericas elas são ignoradas

In [41]:
#filtrar apenas por uma coluna
display(combustiveis_df['Revenda'])

0                               POSTO ARAPIRACA LTDA
1                               POSTO ARAPIRACA LTDA
2                               POSTO ARAPIRACA LTDA
3                               POSTO ARAPIRACA LTDA
4                               POSTO ARAPIRACA LTDA
                             ...
168404    COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA
168405             ABC DISTRIBUICAO DE PETROLEO LTDA
168406             ABC DISTRIBUICAO DE PETROLEO LTDA
168407             ABC DISTRIBUICAO DE PETROLEO LTDA
168408             ABC DISTRIBUICAO DE PETROLEO LTDA
Name: Revenda, Length: 168409, dtype: object

In [42]:
display(combustiveis_df['Estado - Sigla'].head())

0    AL
1    AL
2    AL
3    AL
4    AL
Name: Estado - Sigla, dtype: object

In [43]:
display(combustiveis_df['Estado - Sigla'].tail())

168404    BA
168405    MG
168406    MG
168407    MG
168408    MG
Name: Estado - Sigla, dtype: object

In [63]:
# aqui criamos um novo dataframe apenas com as colunas que eu quero
ca_df = combustiveis_df[['Revenda','Municipio','Bairro','Estado - Sigla','Produto','Valor de Venda']]

In [64]:
display(ca_df.head(10))

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,GASOLINA,6.799
1,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,ETANOL,5.299
2,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,DIESEL,5.549
3,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,GASOLINA ADITIVADA,6.899
4,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,DIESEL S10,5.649
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA,7.198
6,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,ETANOL,5.982
7,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,DIESEL,5.974
8,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA ADITIVADA,7.208
9,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,DIESEL S10,5.983

In [65]:
# Exibe a 4ª linha
display(ca_df.loc[3])

Revenda           POSTO ARAPIRACA LTDA
Municipio                    ARAPIRACA
Bairro                     CANAFISTULA
Estado - Sigla                      AL
Produto             GASOLINA ADITIVADA
Valor de Venda                   6.899
Name: 3, dtype: object

In [66]:
display(ca_df.loc[[3,8]])

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
3,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,GASOLINA ADITIVADA,6.899
8,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA ADITIVADA,7.208

In [67]:
# Exibir da 10ª linha até a 20ª linha
display(ca_df.loc[9:19])

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
9,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,DIESEL S10,5.983
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA,7.197
11,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,ETANOL,5.987
12,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,DIESEL,5.978
13,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,DIESEL S10,5.989
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,GASOLINA,7.175
15,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,ETANOL,5.930
16,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,DIESEL,5.955
17,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,GASOLINA ADITIVADA,7.175
18,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,DIESEL S10,5.980
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,CENTRO,AM,GASOLINA,6.990

In [68]:
#pulando de dois em dois
display(ca_df.loc[2:10:2])

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
2,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,DIESEL,5.549
4,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,DIESEL S10,5.649
6,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,ETANOL,5.982
8,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA ADITIVADA,7.208
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA,7.197

In [69]:
# Criar uma dataframe gas_df contendo 
# apenas as 5 colunas (Revenda, Municipio, Estado - Sigla, Produto, Valor de Venda) 
# somente com combustivel sendo GASOLINA e exibir na tela
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA'] # vai parecer uma condição

In [70]:
display(gas_df)

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
0,POSTO ARAPIRACA LTDA,ARAPIRACA,CANAFISTULA,AL,GASOLINA,6.799
5,AUTO POSTO FREITAS & MAIA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA,7.198
10,AUTO POSTO DA PEDRA LTDA,DELMIRO GOUVEIA,CENTRO,AL,GASOLINA,7.197
14,COMERCIO DE COMBUSTIVEIS NENZITA LTDA,DELMIRO GOUVEIA,PEDRA VELHA,AL,GASOLINA,7.175
19,MARCOS ANTONIO DA SILVA CABRAL,ITACOATIARA,CENTRO,AM,GASOLINA,6.990
...,...,...,...,...,...,...
168392,AUTO POSTO KM BAURU LTDA,BAURU,VILA FALCAO,SP,GASOLINA,6.199
168394,COOPERCITRUS COOPERATIVA DE PRODUTORES RURAIS,ITUIUTABA,MARIA VILELA,MG,GASOLINA,6.899
168399,VICMAR COMERCIO DE COMBUSTIVEIS E LUBRIFICANTE...,CAMPOS DOS GOYTACAZES,PARQUE LEOPOLDINA,RJ,GASOLINA,7.090
168403,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,JEQUIE,TROPICAL,BA,GASOLINA,6.799
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,ITUIUTABA,ALVORADA,MG,GASOLINA,6.580

In [71]:
display(gas_df['Valor de Venda'].max())

7.999

In [72]:
display(gas_df.max())

<ipython-input-72-c29b65d0b5af>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(gas_df.max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Municipio                           XANXERE
Estado - Sigla                           TO
Produto                            GASOLINA
Valor de Venda                        7.999
dtype: object

In [73]:
display(gas_df[['Revenda', 'Valor de Venda']].max())

Revenda           ZV POSTO DE SERVIÇO LTDA.
Valor de Venda                        7.999
dtype: object

In [74]:
# DataFrame.loc[] com múltiplas condiçoes para filtragem
# Quais são os preços, postos que vendem ETANOL na cidade de INDAIATUBA?

etanol_indaiatuba_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'INDAIATUBA')]

In [75]:
display(etanol_indaiatuba_df)

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
12774,COMERCIAL DE COMBUSTIVEIS INDAIA US LTDA,INDAIATUBA,BOM PRINCIPIO,SP,ETANOL,5.447
12778,HELVETIA COMERCIO DE COMBUSTIVEIS E SERVICOS LTDA,INDAIATUBA,SANTA CRUZ,SP,ETANOL,5.447
12783,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,JD. TROPICAL,SP,ETANOL,5.079
12788,AUTO POSTO JARDIM CALIFORNIA LTDA.,INDAIATUBA,VILA BRIZOLA,SP,ETANOL,4.999
12790,POSTO TREMENDAO LUBRIFICANTES E SERVIÇOS LTDA,INDAIATUBA,CENTRO,SP,ETANOL,5.199
...,...,...,...,...,...,...
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,CENTRO,SP,ETANOL,4.699
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,PARQUE DAS NACOES,SP,ETANOL,4.679
160806,POSTO RECREIO OURO LTDA,INDAIATUBA,RECREIO CAMPESTRE JOIA,SP,ETANOL,4.999
160994,POSTO DOS ESTEVES LTDA,INDAIATUBA,CENTRO,SP,ETANOL,4.999
161798,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,INDAIATUBA,CIDADE NOVA I,SP,ETANOL,4.899

In [80]:
#para ordenar é utilizado sort_values() (por padrão o by vem acendente)
# etanol_indaiatuba_df.sort_values(by='Valor de Venda', inplace=True)

In [82]:
#pra ordenar direto só num display e não precisa ordenar novamente
display(etanol_indaiatuba_df.sort_values(by='Valor de Venda'))

,Revenda,Municipio,Bairro,Estado - Sigla,Produto,Valor de Venda
160592,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,PARQUE DAS NACOES,SP,ETANOL,4.679
140194,CENTRO AUTOMOTIVO RIVIERA TROPICAL LTDA,INDAIATUBA,JD. TROPICAL,SP,ETANOL,4.679
140661,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,CENTRO,SP,ETANOL,4.699
159497,M.LI COMERCIO DE COMBUSTIVEIS LTDA.,INDAIATUBA,CENTRO,SP,ETANOL,4.699
141167,AUTO POSTO ESPLANADA DE INDAIA LTDA,INDAIATUBA,JARDIM ESPLANADA,SP,ETANOL,4.699
...,...,...,...,...,...,...
65878,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,JARDIM KIOTO I,SP,ETANOL,5.599
33096,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,JARDIM KIOTO I,SP,ETANOL,5.599
51129,AUTO POSTO CIDADE DO SOL II LTDA,INDAIATUBA,JARDIM KIOTO I,SP,ETANOL,5.599
51138,AUTO POSTO NAMORADA II LTDA.,INDAIATUBA,PARQUE DAS NACOES,SP,ETANOL,5.599
65363,AUTO POSTO INDIANA SELF LTDA.,INDAIATUBA,PARQUE BOA ESPERANÇA,SP,ETANOL,6.197

In [106]:
# Qual a média de preços dos combustíveis GASOLINA e GASOLINA ADITIVADA do Bairo MOOCA em SÃO PAULO
gas_sp_mooca_df = ca_df.loc[(ca_df['Bairro'] == 'MOOCA') & 
                            (ca_df['Municipio'] == 'SAO PAULO') & 
                            ((ca_df['Produto'] == 'GASOLINA') | (ca_df['Produto'] == 'GASOLINA ADITIVADA'))]
display(gas_sp_mooca_df.mean())

<ipython-input-106-7e43ec6ff6f1>:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(gas_sp_mooca_df.mean())

Valor de Venda    6.575596
dtype: float64

In [117]:
# com isin
gas_sp_mooca2_df = ca_df.loc[(ca_df['Bairro'] == 'MOOCA') & 
                            (ca_df['Municipio'] == 'SAO PAULO') & 
                            (ca_df['Produto'].isin(['GASOLINA','GASOLINA ADITIVADA']))]
display(gas_sp_mooca2_df.mean().round(2))

<ipython-input-117-2b38c14d038b>:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(gas_sp_mooca2_df.mean().round(2))

Valor de Venda    6.58
dtype: float64

In [116]:
# Como mostrar média de Valor dee venda por combustível? groupby é uma agrupamento
med_combustiveis_df = ca_df[['Produto','Valor de Venda']].groupby(by='Produto').mean().round(2) #round(2) pra arredondar as casas decimais, da pra usar .format() tbm
display(med_combustiveis_df)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39

In [118]:
# Quero adicionar uma coluna de valor booleano no combustiveis_df chamada "Ativo" que, por padrão, vai ser True para TODAS as linhas
combustiveis_df['Ativo'] = True

In [120]:
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

In [124]:
# E se eu quiser uma coluna nova chamanda "Obs" que preencha automaticamente "MELHOR CIDADE" quando o Municipio for SAO PAULO, SP
#combustiveis_df['Obs'] = 'MELHOR CIDADE' if combustiveis_df['Municipio'] == 'SAO PAULO' else ' '

In [128]:
# exportar para excel o dataframe com etanol em Indaiatuba
etanol_indaiatuba_df.to_excel('etanol_indaiatuba.xlsx', sheet_name='Etanol em Indaiatuba', index=False)