<a href="https://colab.research.google.com/github/kathyllin/Python-Pandas/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
combustiveis_df = pd.read_excel('ca-2021-02.xlsx')

In [3]:
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [4]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True

In [5]:
print(combustiveis_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168409 entries, 0 to 168408
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Regiao - Sigla     168409 non-null  object
 1   Estado - Sigla     168409 non-null  object
 2   Municipio          168409 non-null  object
 3   Revenda            168409 non-null  object
 4   CNPJ da Revenda    168409 non-null  object
 5   Nome da Rua        168409 non-null  object
 6   Numero Rua         168353 non-null  object
 7   Complemento        35057 non-null   object
 8   Bairro             168043 non-null  object
 9   Cep                168409 non-null  object
 10  Produto            168409 non-null  object
 11  Data da Coleta     168409 non-null  datetime64[ns]
 12  Valor de Venda     168409 non-null  float64
 13  Valor de Compra    0 non-null       float64
 14  Unidade de Medida  168409 non-null  object
 15  Bandeira           168409 non-null  object
 16  Ativo              168409 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(2), object(13)
memory usage: 20.7+ MB
None

In [7]:
# Criar uma coluna "Obs" que tenha nela escrito "Melhor Cidade" quando a coluna Municipio for igual a SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'SAO PAULO' else '' for municipio in combustiveis_df['Municipio']]

In [10]:
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO', 'CAMPINAS', 'SALTO']),['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7180 rows x 2 columns]

In [15]:
#como preencher uma coluna 'Valor de Venda - Status' que verifica se o valor de venda for maior que 6,5 reais, ele fala que ta caro, caro contrário, está barato
import numpy as np #numpy é pré-requisito do pandas 

combustiveis_df['Valor de Venda - Status'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda','Valor de Venda','Valor de Venda - Status']])

,Revenda,Valor de Venda,Valor de Venda - Status
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [24]:
# Calcular postos de gasolina por habitantes temos na amostragem de conbustiveis nov/2021
ibge_df = pd.read_csv('ibge_num_habitantes_estimado.csv', sep=';')
display(ibge_df)

         Municipio Estado  NumHabitantes2021
0   BELO HORIZONTE     MG            2530701
1         CAMPINAS     SP            1223237
2     CAMPO GRANDE     MS             916001
3         CURITIBA     PR            1963726
4          GOIANIA     GO            1555626
5       INDAIATUBA     SP             260690
6            NATAL     RN             803739
7           PALMAS     TO             313349
8        PENAPOLIS     SP              64098
9     PORTO ALEGRE     RS            1492530
10     PORTO VELHO     RO             548952
11      RIO BRANCO     AC             419452
12  RIO DE JANEIRO     RJ            6775561
13    SALTO GRANDE     SP               9396
14          SANTOS     SP             433991
15       SAO PAULO     SP           12396372
16     SAO VICENTE     SP             370839
17     SERRA NEGRA     SP              29669

In [28]:
#alterar o nome de coluna

ibge_df.rename(columns={'Estado':'Estado - Sigla'}, inplace=True)
display(ibge_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [33]:
# fazer um MERGE dos dois datasframes
colunas = ['Municipio','Estado - Sigla']
merge_df = combustiveis_df.merge(ibge_df, how='inner', on=colunas) #inner crusa as linhas dos dfs e só traz a linha que tiver correspondencia, caso contrio ele ignora
merge_left_df = combustiveis_df.merge(ibge_df, how='left', on=colunas)
print(merge_df.info())
print(merge_left_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Regiao - Sigla           20634 non-null  object
 1   Estado - Sigla           20634 non-null  object
 2   Municipio                20634 non-null  object
 3   Revenda                  20634 non-null  object
 4   CNPJ da Revenda          20634 non-null  object
 5   Nome da Rua              20634 non-null  object
 6   Numero Rua               20634 non-null  object
 7   Complemento              3837 non-null   object
 8   Bairro                   20634 non-null  object
 9   Cep                      20634 non-null  object
 10  Produto                  20634 non-null  object
 11  Data da Coleta           20634 non-null  datetime64[ns]
 12  Valor de Venda           20634 non-null  float64
 13  Valor de Compra          0 non-null      float64
 14  Unidade de Medida        20634 non-null  object
 15  Bandeira                 20634 non-null  object
 16  Ativo                    20634 non-null  bool
 17  Obs                      20634 non-null  object
 18  Valor de Venda - Status  20634 non-null  object
 19  NumHabitantes2021        20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 168409 entries, 0 to 168408
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Regiao - Sigla           168409 non-null  object
 1   Estado - Sigla           168409 non-null  object
 2   Municipio                168409 non-null  object
 3   Revenda                  168409 non-null  object
 4   CNPJ da Revenda          168409 non-null  object
 5   Nome da Rua              168409 non-null  object
 6   Numero Rua               168353 non-null  object
 7   Complemento              35057 non-null   object
 8   Bairro                   168043 non-null  object
 9   Cep                      168409 non-null  object
 10  Produto                  168409 non-null  object
 11  Data da Coleta           168409 non-null  datetime64[ns]
 12  Valor de Venda           168409 non-null  float64
 13  Valor de Compra          0 non-null       float64
 14  Unidade de Medida        168409 non-null  object
 15  Bandeira                 168409 non-null  object
 16  Ativo                    168409 non-null  bool
 17  Obs                      168409 non-null  object
 18  Valor de Venda - Status  168409 non-null  object
 19  NumHabitantes2021        20634 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(3), object(15)
memory usage: 25.9+ MB
None

In [50]:
display(merge_df)

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Produto,Valor de Venda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,GASOLINA,6.999,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,ETANOL,4.990,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,GASOLINA ADITIVADA,7.130,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,GASOLINA,6.990,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,ETANOL,4.990,1555626
...,...,...,...,...,...,...,...
20629,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,GASOLINA,6.499,260690
20630,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,DIESEL S10,5.499,260690
20631,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,GASOLINA ADITIVADA,6.699,260690
20632,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,ETANOL,4.899,260690
20633,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,GASOLINA,6.299,260690

In [49]:
# .dropne() destroi linhas ou colunas nulas
merge_df.dropna(axis=1, inplace=True) 
display(merge_df)

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Produto,Valor de Venda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,GASOLINA,6.999,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,ETANOL,4.990,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,GASOLINA ADITIVADA,7.130,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,GASOLINA,6.990,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,ETANOL,4.990,1555626
...,...,...,...,...,...,...,...
20629,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,GASOLINA,6.499,260690
20630,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,DIESEL S10,5.499,260690
20631,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,GASOLINA ADITIVADA,6.699,260690
20632,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,ETANOL,4.899,260690
20633,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,GASOLINA,6.299,260690

In [ ]:
# .drop() destroi linhas ou colunas desnecessárias 
colunas_drop = ['Regiao - Sigla','Nome da Rua', 'Numero Rua', 'Bairro','Cep','Data da Coleta', 'Unidade de Medida', 'Bandeira','Ativo','Obs', 'Valor de Venda - Status']
merge_df.drop(labels=colunas_drop, axis=1, inplace=True)
print(merge_df.info())

In [54]:
merge_df.drop(labels='Valor de Venda',axis=1,inplace=True)

In [55]:
display(merge_df)

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
2,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
...,...,...,...,...,...
20629,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,260690
20630,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,260690
20631,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,260690
20632,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,260690
20633,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,260690

In [56]:
merge_df.drop_duplicates(inplace=True)
display(merge_df)

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,1555626
11,GO,GOIANIA,POSTO ALDEIA LTDA,04.896.662/0001-42,1555626
15,GO,GOIANIA,AUTO POSTO SANTA LUZIA LTDA,04.142.631/0001-04,1555626
...,...,...,...,...,...
20431,SP,INDAIATUBA,AUTO POSTO GARATEIA LTDA.,17.691.073/0001-70,260690
20463,SP,INDAIATUBA,AUTO POSTO SAO PAULO LIMITADA,49.446.370/0001-46,260690
20491,SP,INDAIATUBA,AUTO POSTO EKKO PARK LTDA,12.114.176/0001-53,260690
20579,SP,INDAIATUBA,"AUTO POSTO SANTOS DUMONT KM 48,5 LTDA",57.920.977/0001-44,260690
20608,SP,INDAIATUBA,AUTO POSTO DISTRITO DE INDAIA LTDA,09.536.396/0001-60,260690

In [65]:
#Agrupar e contar quantos postos tem na cidade
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Numero de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Numero de Postos
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           44
GO             GOIANIA        1555626                          93
MG             BELO HORIZONTE 2530701                          54
MS             CAMPO GRANDE   916001                          104
PR             CURITIBA       1963726                         110
RJ             RIO DE JANEIRO 6775561                         379
RN             NATAL          803739                           37
RO             PORTO VELHO    548952                           40
RS             PORTO ALEGRE   1492530                          73
SP             CAMPINAS       1223237                          51
               INDAIATUBA     260690                           36
               SANTOS         433991                           36
               SAO PAULO      12396372                        429
               SAO VICENTE    370839                           20
TO             PALMAS         313349                           26

In [70]:
postos_por_municipio_df['Postos por Habitantes'] = postos_por_municipio_df['NumHabitantes2021'] / postos_por_municipio_df['Numero de Postos']
display(postos_por_municipio_df)

KeyError: ignored